* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1, h2, h3, h4, a {
    font-family: 'Montserrat', sans-serif;
}

#header {
    border-top: 5px solid #6742E7;
}

#headerNoct{
    border-top: 5px solid #222326;
}

html {
    font-size:16px;
}
h2 {
    color:#6742E7;
}

p {
    font-weight:400;
}

#barra {
    display:flex;
    width:100%;
    justify-content: space-between;
    position:relative;
    z-index:100;
    height:75px;
}

#noctBarra{
    background-color:#37383C;
    display:flex;
    width:100%;
    justify-content: space-between;
    position:relative;
    z-index:100;
    height:75px;
}

.modoNoct2{
    background-color: #222326;
}


#logo-mobile {
    width:50%;
    padding:16px;
}

 #logo-n {
       display:none;
}
.logo {
    cursor:pointer;
}
#burga {
    width:10%;
    padding-top:25px;
    padding-right:15px;
    cursor:pointer;
}

#burger-n {
    display:none;
}



#close-d {
    display:none;
}

#close-n {
    display:none;
}

#close-nh {
    display:none;  
}

#menu {
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    position:absolute;
    top:75px;
    background-color: #6742E7;
    width:100%;
    z-index: 50;
}

#menuNoct {
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    position:absolute;
    top:75px;
    background-color: #222326;
    width:100%;
    z-index: 50;
}

}

#modoN {
    display:none;
}

#menu ul{
    display:flex;
    align-items: center;
    justify-content:start;
    flex-direction: column;
    align-items:center;
    list-style: none;
    opacity: 0.9;
    background-color: #6742E7;
    width:100%;
    height:155vh;
}


.fila {
    padding-top:25px;
}

.link  {
    text-decoration: none;
    color:white;

}

.crear {
    display:none;
}


#buscador {
    display:flex;
    flex-direction: column;
    padding-bottom: 60px;
}

#buscadorNoct {
    display:flex;
    flex-direction: column;
    background-color:#37383C;
    padding-bottom: 60px;
}

#titulo {
    display:flex;
    align-items:center;
    justify-content: center;
    width:70%;
    margin:25px auto 32px;
    color: #6742E7;
    font-size:1.3rem;
    text-align: center;
}

span {
    color:#4FE3C1;
}

#favoritos {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}



#favoritos h4 {
    padding-top:5px;
    font-size:1.1rem;
    color: #6742E7;
}

#gifos {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
}

#gifos h4 {
    padding-top:5px;
    font-size:1.1rem;
    color: #6742E7;
}

#fav-0 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:55px 0 80px;
    text-align: center;
    width:100%;
}

#fav-0-noct {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:55px 0 80px;
    text-align: center;
    width:100%;
    background-color:#37383C ;
}

#gif-0{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:55px 0 25px;
    text-align: center;
    width:90%;

}

#fav-0 h2 {
    color:#4FE3C1;
    padding-top:22px;
}

#gif-0 h2 {
    color:#4FE3C1;
    padding-top:22px;
}

#camara-n {
    display:none;
}

#cinta-n {
    display:none;
}

#pantalla-completa {
    display:flex;
    justify-content: center;
    align-items: center;

}

#img-camara {
    margin-left:-30px;
}

#luz-camara{
    transform:translate(-5px,-15px);
}

#camara{
    width:788px;
    height:410px;
    border: 1px solid #6742E7;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    transform: translateX(-20px);
}

.pcamara{
   padding-top:5px;
}

#pantalla-camara {
    text-align: center;
   
}

.cinta {
    transform:translate(60px,230px);
}

#ilustracion {  
    display:flex;
    align-items:center;
    justify-content: center;
    width:75%;
    margin: auto;
    
}

#amigos {
    width:100%;
    height:100%;
    align-self: center;
}

#busc-cont {
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin:auto;
    width:80%;
    background-color:white;
    padding:0 10px 0 30px;
    border: 1px solid #6742E7;
    border-radius:20px;
    height:50px;    
}

#close-lup {
    display:none;
    cursor:pointer;
}


#busc {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;

   
}

#contenedor-match{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:60%;
    
}

#contenedor-match ul {
    list-style: none;
    display:none;
   
}

 #search-n {
     display:none;
 }

input {
    width:80%;
    margin:auto;
    outline:none;
    border-color:white;
    border:0;
}

#gifos-encontrados {
    display:none;
    
}

.gifosBuscados {
   width:95%;
   height:210px;
   align-items:center;
   cursor: pointer;
   top: 0;
   display:block;
   opacity: 1;
   transition: .5s ease;
   backface-visibility: hidden;
}


.search:hover{
    cursor: pointer;
}
.trending_gifs{
width:100%;
height:100%;
}


#trendings {
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    margin:40px auto 0px; 
    font-size:1.15rem;
    color: #6742E7;
}

#categorias {
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    margin: auto; 
    width:60%;
    font-size:1.15rem;
    color: #6742E7;
    padding-bottom:15px;
}
.titulo {
   display:flex;
   justify-content: flex-start;
   align-items: center;
   color:white;
}



 #trending {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color:#F4F5F9;
    padding:50px 0px 80px;
 }



 #trending-g h2 {
    color: #6742E7;
    padding-bottom:10px;
 }

 #flechas {
     display:flex;
     justify-content: space-between;
     align-items:center;
     width:90%;
     height:350px;
     padding-bottom:30px;
 }

 .boton-izq {
     display:none;
 }

 .boton-der {
     display:none;
 }

 #gif-trending {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 95%;
    height:270px;
}


.contenedor-trending {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height:100%;
}

.gifs {
    width:100%;
    height:100%;
    cursor: pointer;
}



.gifs {
    
    width:100%;
    height:270px;
    cursor: pointer;
    display:flex;
    justify-content: space-evenly;
    top: 0;
    display:block;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container {
    display:flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    cursor:pointer;
    height: 100%;
    margin:15px;
    min-width: 300px;
}

.container1 {
    display:flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    cursor:pointer;
    height: 100%;
    margin:2px;
    min-width: 200px;
}

.contenedor-trending {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .7s ease;
}

.contenedor-descarga{
    height:100%;
}


.botones {
    display:flex;
}

.violeta {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #6742E7;
    width:100%;
    height:270px;
    opacity: 0.5;
    padding:10px;
     
}

.violeta1 {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #6742E7;
    width:95%;
    height:210px;
    opacity: 0.5;
    transform: translateY(-10px);
     
}


.cont-titulo {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width:100%;
}

.user {
    color:white;
    padding-bottom:15px;
}

.icono {
    margin:0px 6px;
}

.violeta h3 {
    text-align: left;
    padding-bottom:35px;
}
.hover {
    display:none;
}

.normal {
    margin:0px 5px ;
}


.container:hover .contenedor-trending {
 opacity: 1;
}

.container1:hover .contenedor-trending {
    opacity: 1;
   }
   

#verMasCont {
    display:none;
}

#ver-mas-h {
    display:none;
}

#ver-mas-n {
    display:none;
}


 #pasos {
   width:65%;
   margin:0 auto;
   border-bottom: 7px solid #6742E7;
   display:flex;
   justify-content: center;
   align-items:center;
   padding: 20px 0 20px;
 }

 #gif-com {
     width:60%;
     margin:auto;
     display:flex;
     flex-direction: column;
     padding-bottom:30px;
 }

 #p1 {
     display:block;
     width:100%;
 }


#footer {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    flex-direction: column;
    margin:auto;
    padding:40px 0 25px;
    border-bottom: 5px solid #6742E7; 
}

#footerNoct {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    padding:40px 0 25px;
    border-bottom: 5px solid #222326; 
    background-color: #37383C;
}

#logos {
    width:90px;
    display:flex;
    justify-content: space-between;
    padding:25px 0 50px;
}

#facebook-n {
    display:none;
}

#facebook-h {
    display:none;
}

#twitter-n {
    display:none;
}

#twitter-h {
    display:none;
}

#instagram-n {
    display:none;
}

#instagram-h {
    display:none;
}

.redes {
    cursor: pointer;
}




@media only screen and (min-width:780px) {
    #barra {
        height:95px;
        display:flex;
    }
    
    #menu {
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
        width:90%;
        float:right;
        align-items: flex-end;
        position:relative;
        height:85px;
        top:0;
        background-color: white;
        padding-top:5px;

    }

    #menuNoct {
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
        width:90%;
        float:right;
        align-items: flex-end;
        position:relative;
        height:85px;
        top:0;
        background-color: #37383C;
        padding-top:5px;
    }

    #menu ul {
        display:flex;
        flex-direction:row;
        background-color: transparent;
        justify-content: flex-end;
        align-items: flex-start;
        width:100%;
        height: 85px;
        padding-top:5px;
        
    }

    
    .link {
       color: #6742E7;
       padding-right: 45px;
       font-size:1rem;
    }
    
    #burga {
        display:none;
    }
    
    #crear-d {
        display:block;
    }

    .crear {
    
        padding:5px 25px 0 0;
    }

    

    #titulo {
        width:45%;
    }

    #ilustracion {
        width:30%;
    }

    #busc{
        width:45%;
    }
     
    #fav-0{
        width:30%;
        padding:85px 0 85px;
    }

    #fav-0-noct{
        width:30%;
        padding:85px 0 85px;
        background-color: #37383C;
    }

    #gif-0{
        width:30%;
        padding:85px 0 85px;
    }

    #boton-izq-d {
        display:block;
        margin:5px;
    }


    #boton-der-d {
        display:block;
        margin:5px;
    }
    
   
    #footer{
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        padding:20px 0 20px;
    }

    #footerNoct{
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        padding:20px 0 20px;
        background-color: #37383C;
    }

    #compartir-logo {
        display: flex;
        flex-direction:row;
        align-items: center;
        padding-left:130px;
        
    }

    #logos {
        padding-bottom:25px;
    }

    #compartir {
        height:fit-content;
        padding-right:25px;
    }

    #footer-f {
        padding-right:130px;
    }
}